<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
  <body>
    {% if user.is_authenticated %}
      <nav class="navbar navbar-expand-lg navbar-light bg-success">
        <a class="navbar-brand" href="#">Trash Collector</a>
        <div class="navbar-nav">
        {% block navbar %}{% endblock %}
        <a class="nav-item nav-link" href="{% url 'logout' %}">Log Out</a>
        </div>
      </nav>
    {% endif %}
      <main>
        <br>
        <br>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
              <div class="border border-success rounded bg-warning">
                <h3 class="my-3"><img class="mx-3 rounded float-left" src="https://via.placeholder.com/300.png/" alt="Waste Management Logo" width="50"
                    height="40">{% block header %}{% endblock %}</h3>
                <h4 class="mx-3">{% block greeting %}{% endblock %}</h2>
            </div>
            <div class="col-md-6"></div>          
          </div>
          <div class="row">
            <div class="col-md-2" ></div>
            <div class="col-md-8">{% block content %}{% endblock %}</div>
            <div class="col-md-2"></div>
          </div>
        </div>
      </main>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>