{% extends 'employees\employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}

{% block greeting %} Welcome Employee {{ logged_in_employee.name }}!{% endblock %}

{% if user.is_authenticated %} 
  {% block content %}
    <br>
    <div class="border border-success rounded bg-warning">
    <table class="table table-light">
      <h4>Customers in route today:</h4>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Pickup Day</th> 
        <th scope="col">Last Pickup</th>
        <th scope="col">Verification</th>
      </tr>
      {% if scheduled_customers != None %}
        {% for customer in scheduled_customers %}
          <form action="{% url 'employees:confirm_pickup' customer.id %}">
            <tr>
              <td>{{customer.name}}</td>
              <td>{{customer.address}}</td>
              <td>{{customer.weekly_pickup}}</td>
              <td>{{customer.date_of_last_pickup}}</td>
              <td><button class="btn btn-success" type="submit">Accept</button></td>
            </tr>
          </form>
        {% endfor %}
      {% endif %}
      </table>
    </div>
    <br>
    <br>
    <div class="border border-success rounded bg-warning">
    <form action="{% url 'employees:index' %}" method="post">
      {% csrf_token %}
      <h4>Pickup Schedule:</h4>
      <select class="form-select from-select-md w-25" name="pickup_day_drop_down" id="pickup_day_drop_down">
        <option selected>----------</option>
        <option value="MONDAY">MONDAY</option>
        <option value="TUESDAY">TUESDAY</option>
        <option value="WEDNESDAY">WEDNESDAY</option>
        <option value="THURSDAY">THURSDAY</option>
        <option value="FRIDAY">FRIDAY</option>
        <option value="SATURDAY">SATURDAY</option>
        <option value="SUNDAY">SUNDAY</option>
      </select>
      <button type="submit" class="btn btn-success">View</button>
      <br>
      <br>
    </form>
    <table class="table table-light table-hover">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Pickup Day</th>
        <th scope="col">Last Pickup</th>
      </tr>
      {% if customers_that_share_pickup_day != None %}
        {% for customer in customers_that_share_pickup_day %}
        <tr>
          <td>{{customer.name}}</td>
          <td>{{customer.address}}</td>
          <td>{{customer.weekly_pickup}}</td>
          <td>{{customer.date_of_last_pickup}}</td>
        </tr>
        {% endfor %}
      {% endif %}
    </table>
    </div>
  </div>
</div>
{% endblock %}
{% else %}
<p>You are at the employee index, but you are not logged in.</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'accounts:register' %}">Sign Up</a>
{% endif %}
